body {
    background-color: bisque;
}



  .gallery {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 12px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 60px;
  
  
  }
  
  .gallery__item {
  overflow: hidden;
  display: block;
  
  text-decoration: none;
  color: #000000;
    background-color: #ffffff;
  
  
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  
    transition: transform var(--animation-duration) var(--timing-function);
  
      &:hover {
    cursor: zoom-in;
    transform: scale(1.03);
  }
  }
  
  
  .gallery__image {
    display: block;
    height: 230px;
    width: 100%;
    object-fit: cover;
  }
  
  .info{
     display: flex;
      justify-content: space-around;
  
      &-item{
          display: grid;
      justify-items: center;
      }
   
  }

//   Форма
.search-form {
    position: fixed;
    margin-top: -8px;
    margin-left: -8px;
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: steelblue;

    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

    &__input{
       height: 30px;
  border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;

  background-color: #ffff;
  border-color: transparent; 
    }

    &__btn{
    border-color: transparent;  
    height: 30px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border: none;
    cursor: pointer;
    }
}